
.ipynb_checkpoints
*/.ipynb_checkpoints/*


__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
.env
.ssh
.claude/


.DS_Store
Thumbs.db

mllm/base_model/
encoders/lidarclip/pretrained/
b4dl-dataset/
requirements_sum/
mllm/b4dl_dataset
mllm/checkpoints
encoders/lidarclip/b4dl
# Large model files

*.ckpt
*.pt
backup/
